<%- include("header") -%>
<h2>This is the about page.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae enim, adipisci laudantium odio culpa deserunt quod eum quaerat, voluptates vero facere nobis. Magni dolorum hic impedit blanditiis, quae totam numquam?
Ducimus rerum iusto fugit reiciendis odit facilis inventore aliquam qui? Quod quos sint vitae alias dicta tenetur obcaecati consequuntur odit culpa a. Eligendi laudantium quod hic eaque fugit odit tempore?
Id numquam obcaecati, harum sunt repudiandae ex, delectus praesentium quidem aspernatur unde architecto neque totam sint magni odio incidunt laborum inventore provident dolore porro? Adipisci similique corporis veritatis. Quod, recusandae.
Perspiciatis numquam praesentium, optio, eum deserunt illo a neque, veritatis earum labore ipsum. Eaque iusto tenetur cumque autem aliquid quibusdam repellat minima sunt? Vitae corporis ullam facilis id, quaerat neque?
Nulla fuga provident ullam voluptatibus placeat veniam deleniti aspernatur illum beatae. Quasi quos tempore nobis delectus exercitationem magni totam veritatis eligendi sit nisi amet perspiciatis non, libero accusantium voluptatum dicta.
Minima, inventore molestias numquam adipisci exercitationem, soluta maiores tenetur ullam fuga aut excepturi iste illo illum totam consequuntur, aliquam pariatur assumenda vel quis odit error. Adipisci aspernatur natus odio incidunt!</p>

<%- include("footer") -%>
